.create-page {
  font-family: "Poppins", sans-serif;
  background-color: #f5f3f9;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.new_password_title {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 0px;
  margin-top: 99px;
}

.create-text {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  color: #6434B7;
  font-size: 56px;
  line-height: 1;
  transform: translateY(-6px);
}

.password-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #3a3a3a;
  transform: translateY(8px);
}

.description {
  color: #4E4B4B;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Quicksand';
  font-weight: 700;
}

.password-container {
  width: 100%;
  display: inline;
  gap: 25px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.create_password_input {
  width: 100%;
  padding: 12px 12px 12px 14px;
  border: 1px solid #dcd6ea;
  border-radius: 15px;
  font-size: 14px;
  background-color: #fff;
  outline: none;
  transition: 0.2s;
}

.create_password_input:hover ,
.create_password_input:focus {
  border-color: #8c5de3;
  box-shadow: 0 0 8px rgba(140, 93, 227, 0.12);
}


.requirements {
  text-align: left;
  width: 340px;
  max-width: 90%;
  padding: 6px 20px 0 20px;
  margin-left: 0;

}

.requirements p {
  font-weight: 600;
  margin-bottom: 0;
  font-weight: 700;
  font-family: 'Instrument Sans';
  color: #000000;
  font-size: 13px;

}

.requirements ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.requirements li {
  font-size: 13px;
  line-height: 1.6;
  position: relative;
  padding-left: 12px;
  color: #919191;
  font-family: 'Instrument Sans';
  font-weight: 500;
}

.requirements li::before {
  content: "•";
  color: #8c5de3;
  position: absolute;
  left: 0;
  font-size: 18px;
}

.reset-btn {
  background-image: linear-gradient(to right top, #5b5f9c, #6162a7, #6865b2, #7068bd, #786ac8);
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  width: 233px;
}

.reset-btn:hover,
.reset-btn:active {
  background-color: #7a6ef0 !important;
  color: white !important;
  border: none !important;
}

.ant-input-outlined:focus-within {
  border-color: #7a6ef0 !important;
  box-shadow: none !important;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

/* Mobile (small screens) */
@media (max-width: 600px) {
  .create-text {
    font-size: 33px;
  }

  .password-text {
    font-size: 15px;
  }

  .email-input {
    width: 60%;
  }

  .description {
    font-size: 12px;
  }

  .requirements {
    width: 80%;
    margin: 0;
  }

}