.signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/signup2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.signup-card {
  background: white;
  border-radius: 45px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  padding: 13px 50px;
  width: 30%;
  height: max-content;
  text-align: center;
}

.signup_logo_title {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin: 0 0 17px 0px;
  position: relative;
  width: 100%;
  height: 109px;
}

.signup_logo-text {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  color: #6434B7;
  font-size: 48px;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
}

.signup_logo_text_2 {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 39px;
  margin: 0;
  position: absolute;
  top: 56%;
  left: 53%;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  background: #f2f2f2;
  border-radius: 15px;
  padding: 4px;
  box-shadow: inset 1px 3px 4px rgba(0, 0, 0, 0.35);
}

.tab-buttons button {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.tab-buttons .active {
  color: black;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.input-box {
  position: relative;
}

.signup_input {
  width: 70%;
  background-color: white;
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #767171;
  border-radius: 10px;
  outline: none;
  transition: border 0.2s;
  color: #605F5F;
  font-family: 'Instrument Sans';
  font-weight: 500;
}

.ant-input::placeholder,
.ant-input-password input::placeholder {
  color: #605F5F !important;
  font-family: 'Instrument Sans';
  font-weight: 500;
}


.signup_input:focus {
  border-color: #8b5cf6;
}


.input-box input:focus {
  border-color: #8350c3;
  box-shadow: 0 0 3px #8350c3;

}

.password-toggle {
  position: absolute;
  right: 6%;
  top: 52%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 16px;
}

.password-toggle:hover {
  color: #000;
}

.options {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}

.options .personal {
  text-decoration: none;
  font-size: 18px;
  color: #8b5cf6;
}

.roles {
  display: flex;
  justify-content: center;
  gap: 75px;
  font-size: 14px;
}

.signup_btn {
  border: none;
  color: white;
  padding: 22px 12px;
  font-size: 18px;
  font-family: 'Quicksand';
  margin: 15px 15px 0px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  width: 70%;
  background-image: linear-gradient(to right top, #5b5f9c, #6162a7, #6865b2, #7068bd, #786ac8);
}

.signup_btn:hover {
  opacity: 0.9;
}

.signup_btn:focus,
.signup_btn:hover,
.signup_btn:active {
  border-color: transparent !important;
  color: white !important;
}

.password_hint {
  font-family: 'Instrument Sans';
  font-weight: 500;
  font-size: 12px;
  color: #737171;
  width: 70%;
  margin-left: 16%;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 4px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
  color: #777;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ddd;
}

.signup_google_btn {
  border: 1px solid #8b5cf6;
  background: white;
  color: #444;
  gap: 8px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: 200px;
  height: 40px;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.signup_google_btn img {
  width: 32px;
  height: 32px;
}

.signup_google_btn:hover {
  background: #f7f5ff;
}

.error_style {
  color: rgb(208, 67, 67);
  margin: 0px 0;
  font-size: 14px;

  font-family: "Quicksand", sans-serif;
}

.signup_hint_link {
  text-decoration: none;
}

.signup_hint {
  font-family: 'Quicksand';
  font-weight: 600;
  background: linear-gradient(180deg, #9FBAF9, #590B8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width:800px) {
  .signup_logo-text {
    font-size: 39px;
  }

  .signup_logo_text_2 {
    top: 48%;
    left: 37%;
    font-size: 30px;
  }

  .password_hint {
    margin-left: 17%;
  }
}

@media (max-width:700px) {
  .password_hint {
    margin-left: 10%;
  }
}

/* Mobile (small screens) */
@media (max-width: 600px) {
  .signup-card {
    width: 80%;
    padding: 20px 32px;

  }

  .signup_logo_title {
    font-size: 15px;
  }

  .signp_logo_text {
    font-size: 30px;
  }

  .signup_input {
    width: 87%;
  }


  .signup_btn {
    width: 97%;
  }

  .signup_google_btn {
    width: 97%;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .signup-card {
    width: 45%;
  }

  .signup_logo_title {
    font-size: 15px;
  }

  .signp_logo_text {
    font-size: 30px;
  }


}

/* Large Tablet */
@media (min-width: 1025px) and (max-width: 1200px) {
  .signup-card {
    width: 45%;
  }

  .signup_logo_title {
    font-size: 20x;
  }

  .signp_logo_text {
    font-size: 40px;
  }


}