.booking_page {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 30px;
  background-image: url("../../../assets//images/Booking.png");
}


.booking_page_title {
  font-size: 50px;
  font-weight: 600;
  font-family: "Instrument Sans";
  margin: 15px 0 0 60px;
  color: #363738;
}

.StepperContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 5px 0 10px 0;
}

.white_container {
  width: 60%;
  background-color: white;
  min-height: 500px;
  height: max-content;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px 60px;
}

.booking_page_stepper_style {
  width: 50%;
}


.error_sentance {
  color: #e45050;
  font-size: 17px;
  margin-right: 10px;
}


.selectDoctor_white_container {
  width: 60%;
  background-color: white;
  height: 70vh;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px 60px;
  overflow: hidden;
}

.doctor_row {
  height: 85%;
  padding-top: 30px;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  overflow-x: scroll;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 10px;
}

.doctor_card {
  height: 220px;
  margin-bottom: 40px;
}

.search_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctor_card_content {
  background-color: rgba(205, 195, 248, 1);
  border-radius: 20px;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.doctor_card_content:hover {
  background-color: white;
  border: 1px solid rgba(107, 72, 255, 1);
  cursor: pointer;
}

.selected_doctor {
  background-color: white;
  border: 1px solid rgba(107, 72, 255, 1);
  cursor: pointer;
}

.doctor_img_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  min-height: 80%;
}

.doctor_img {
  width: 140px;
  height: 100%;
}

.doctor_name {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: 84%;
  width: 100%;
  font-size: 13px;
  font-family: "Quicksand";
  font-weight: 600;
}

.select_doctor_next_btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px auto;
}

.booking_page_next_btn {
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 13px;
  cursor: pointer;
  background: rgba(120, 106, 200, 1);
  background: linear-gradient(180deg,
      rgba(120, 106, 200, 1) 0%,
      rgba(91, 95, 156, 1) 73%);
}


.empty_result {
  width: 100%;
  text-align: center;
  font-size: 20px;
  gap: 10px;
  color: #a63e3e;
}

.alertTriangle {
  width: 160px;
  height: 160px;
}

.empty_text {
  font-family: 'Instrument Sans';
  font-weight: 600;
  color: #55545691;
  font-size: 27px;
}

.ant-steps-item-process .ant-steps-item-icon {
  border: 1px solid #515BD4 !important;
  background-color: white !important;
  color: #515BD4 !important;
}

.ant-steps-item-active .ant-steps-item-icon-number {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #515BD4;
  border-radius: 50%;
}

.ant-steps-item-finish .ant-wave-target {
  background-color: #515BD4 !important;
  color: white !important;
}

.ant-steps-item-wait .ant-steps-item-icon {
  background-color: white !important;
  border: 1px solid #515BD4 !important;

}

.ant-steps-item-wait .ant-steps-item-icon-number {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #515BD4;
  border-radius: 50%;
}

.ant-steps-title-vertical>.ant-steps-item .ant-steps-item-rail {
  border-color: white !important;
  border-width: 1.5px;
}

.dummy_user_image_card {
  font-size: 94px;
  padding-top: 33px;
  color: #7e7e7e;
}

@media (max-width:1500px) {
  .doctor_row {
    grid-template-columns: repeat(3, 1fr);

  }

}

@media (max-width:992px) {
  .booking_page_title {
    font-size: 40px;
    margin: 15px 0 0 23px;
  }

  .doctor_row {
    grid-template-columns: repeat(2, 1fr);

  }

  .selectDoctor_white_container {

    width: 90%;
    padding: 0 0 25px 0px;
  }

  .search_container {
    width: 80%;
    padding-top: 15px;
    margin: 0 auto;
  }

  .booking_page_next_btn {
    margin-right: 20px
  }

  .alertTriangle {
    width: 140px;
    height: 140px;
  }

  .empty_text {
    font-size: 24px;
  }

  .selectDoctor_white_container {
    height: 90vh;
  }

  .doctor_row {
    height: 58vh;
  }
}

@media (max-width:700px) {
  .selectDoctor_white_container {
    height: 70vh;
  }

  .doctor_row {
    height: 58vh;
  }
}

@media (max-width:600px) {
  .StepperContainer {
    justify-content: flex-start;
    margin: 15px 0 0 23px;
    width: 90%;
    display: none
  }

  .booking_page_title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .booking_page {
    padding-bottom: 0;
  }


}

@media (max-width:500px) {
  .doctor_row {
    grid-template-columns: repeat(1, 1fr);

  }

  .alertTriangle {
    width: 100px;
    height: 100px;
  }

  .empty_text {
    font-size: 20px;
  }

}